<style>
p{
word-wrap:break-word;
margin:23px 0 0 10px;
}
  b.word{
word-wrap:break-word;
    margin:5px;
    font-size:10pt;

}
textarea.detail{
border:0px !important;
margin:0px !important;
height:90% !important;
}

input{
border:0px !important;
margin:0px !important;
}
div.wrap{
border-left : 1px solid #CCC;
border-right : 1px solid #CCC;
border-top : 1px solid #CCC;
}
div.line{
width:100%;
}
div.left{
  text-align:center;
background-color : #F5F7FA;
border-right:1px solid #CCC;
color:#5D6D9A;
font-weight:bold;
font-size:15px;
line-height:60px;
float:left;
width:35%;
min-width:80px;
border-bottom:1px solid #CCC;
height:60px;
}
div.right{
/*line-height:60px;*/
float:right;
width:64.4%;
border-bottom:1px solid #CCC;
height:60px;
}
div.detailleft{
  text-align:center;
background-color : #F5F7FA;
border-right:1px solid #CCC;
color:#5D6D9A;
font-weight:bold;
font-size:15px;
line-height:60px;
width:100%;
min-width:80px;
border-bottom:1px solid #CCC;
min-width:80px;
height:100%;
}
div.detailright{
/*line-height:60px;*/
width:100%;
border-bottom:1px solid #CCC;
height:auto;
min-height:200px;

}
div.clear{
clear:both;
}
</style>
    <div class="container">
      <!-- 배너자리시작! 
      <center>
      <div  style="max-width:860px; width:auto; height:90px; border: 3px solid;">
        배너자리
      </div>
      </center>
       배너자리끝! -->
      <div class="demo-row">
        <div class="demo-content-wide">
        <div class = "wrap">
          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
              분야
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.category%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            제목 
            </b>

          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.title%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>


          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            담당업무
            </b>

          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.each%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            근무시간
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.hour%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            직장명 
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.name%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            근무지주소
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.city + " " + @clicked_post.county%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            모집인원
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.to%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            급여
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.pay%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            응시자격
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.qualification%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            경력사항
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.experience%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            우대조건
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.favorite%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            전화번호
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.tel%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            핸드폰 번호
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.hp%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            채용방법
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.method%>
            </p>
          
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            <b class ="word">
            마감일
            </b>
          </div>
          <div class ="right">
            <p>
            <%=@clicked_post.dead_line%>
            </p>
          </div>
          </div>
          <div class = "clear">
          </div>
          <div class="detaildetail" style="height:auto;">
            <div class = "line"> <!-- 줄바꾸기 --> 
              <div class ="detailleft" >
                <b class ="word">
                  세부사항
                </b>
              </div>
              <div class ="detailright">
                <pre>
                  <p style="margin:0px"><%=@clicked_post.detail%></p>
                </pre>
              </div>
            </div>
          </div>
          <div class = "clear">
          </div>
        </div>
            <br>
            <div style="float:left;">  
            <button class="btn btn-small" type="button" onclick="location.href='/job'"><span class="fui-search"> 목록</span></button>
            </div>
            <div style="float:right; height:auto;">
            <% if @clicked_post.user_id == session[:id]  or session[:user] =="DATILYVETadminDAILYVET"%>
            <button class="btn btn-small" type="submit" onclick="location.href='/job/update?id=<%=@clicked_post.id%>&page_number=<%=@page_number%>'" >수정</button>
            <button class="btn btn-small" type="submit" onclick="location.href='/job/delete?id=<%=@clicked_post.id%>&page_number=<%=@page_number%>'" >삭제</button>
            <% end%>
            <input class="btn btn-small" style="width:35%" type="submit" onclick="location.href='/job/write'" value="글쓰기">
            </div>
            <br>
            <br>
            <br>
            <br>
      <div class = "comment">
        <div class = "comment_title">
          <p style="margin:0px;">Comments '<%=@clicked_post.comments.count%>'<p>
        </div>
        <!-- 리플을 보는 부분-->
        <% order = 1 %>
        <% @clicked_post.comments.each do |comment| %>
        <div class = "comment_each">
          <div class = "comment_header " style="float:left;">
           <p style="margin:0px;"> <span class ="order"><%=order%>. </span> <span class = "user_name"> 
           <% if comment.anomynous_flag == true%>
           필명숨김
           <% else %>
           <%=comment.user.name%> 
           <% end %>
           </span> <span>  <%=comment.created_at.to_s[5..15]%></span></p>
          </div>
          <div class = "comment_header" style="float:right;">
          </div>
          <div class = "clear">
          </div>
          <div class = "comment_body" style="text-align:left;">
            <pre style="text-align:left;">
            <p style="margin:0px;"><%= comment.content %></p>
            </pre>
          </div>
        </div>
          <% order += 1%>
        <% end %>
        <!-- 리플 보는 부분 끝 -->
        <!-- 리플 쓰는 부분 시작 -->
        <div class = "comment_editor">
          <form class = "comment_form" action="/job/reply_process" method="post">
            <div class = "textbox">
                <div style="float:left;width:70%; text-align:right;">
                  <textarea class = "textarea" name="reply_content_from_view"></textarea>
                </div>
                <input type="hidden" value="<%=@clicked_post.id%>" name="job_post_id_from_view">
                <input type="hidden" value="<%=@page_number%>" name="page_from_view">

                <div style="float:right; width:30%; text-align:center;">
                  <input type="submit" value="등록" class ="button">
                </div>
                <div class = "clear"></div>
            </div>
          </form>
        </div>
      <!-- 리플 쓰는 부분 끝 -->
      </div>
      <!-- 리플 전체 div 끝 -->
        </div>
      </div>
    </div>



<script>
  $("#myDropdown").prop("selectedIndex", -1);
</script>
